*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.w-home-ico{
  width: 20%;
}

.text-primari{
  color: rgb(169, 5, 5);
}

.text-secondari{
  color: rgb(235, 99, 99);
}

.text-defaul{
  color: #fff;
}

.bg-primari{
  background-color: rgb(0, 0, 0);
}

.bg-secondari{
  background-color: rgb(32, 32, 32);
}

.font-primari{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font-secondari{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing:2px;
}
